<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>Search Angular Application</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <div id="container">
        <div id="form1" ng-controller="FormController">
            <form ng-submit="submit()">
                <input ng-model="form.field1"/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <div id="results" ng-controller="ResultController">
            <ul ng-repeat="item in items">
                <li>Id: {{item.id}}</li> 
            </ul>
        </div>
    </div>
    
    <script data-main="js/main" src="js/require.js"></script>
    
</body>
</html>
